[[source]]
url = "https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = "*"
torchaudio = "*"
librosa = "*"
numpy = "*"
matplotlib = "*"
pretty-midi = "*"
setuptools = "*"
ffmpeg-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
